*.o
*.depend
*.cmd
*.d

tmp/

android-4.2.2-SDK/android4.2/device/softwinner/wing-mbox203/kernel
android-4.2.2-SDK/android4.2/prebuilts/
android-4.2.2-SDK/android4.2/external/
android-4.2.2-SDK/android4.2/framewaorks/
android-4.2.2-SDK/android4.2/out/

android-4.2.2-SDK/lichee/buildroot/target/dragonboard/sysroot.tar.gz
android-4.2.2-SDK/lichee/out/
android-4.2.2-SDK/lichee/tools/pack/out/
android-4.2.2-SDK/lichee/tools/pack/sun7i_android_wing-*.img
android-4.2.2-SDK/lichee/buildroot/dl/gcc-linaro.tar

